<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.13" targetFramework="net40" />
  <package id="Dapper.Rainbow.MySql" version="0.6.1" targetFramework="net40" />
  <package id="log4net" version="2.0.7" targetFramework="net45" />
  <package id="MySql.Data" version="6.8.3" targetFramework="net40" />
</packages>